body{
    background-image:url(../projeto_um/modelo_background/imagens/fundo_madeira.jpg) ;
    background-repeat: repeat;
    background-color: #804000;
    margin-top: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
#topo{
    background-image: url(../projeto_um/modelo_background/imagens/lente_preta.png);
    background-repeat: repeat;
    margin: 0%;
    height: 120px;
    width: 100%;
}
#topo h1{
    color: #ffffff;
    margin:0px;
    text-align: center;
    font-size: 50px;
}
.destaque{
    width: 78%;
    margin-top: 1%;
    margin-left: 1%;
    height: 200px;
    background-color: #ff00ff;
    float: left;
}