body{
    background-image:url(../projeto_um/modelo_background/imagens/fundo_madeira.jpg) ;
    background-repeat: repeat;
    background-color: #804000;
    margin-top: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
#topo{
    background-image: url(../projeto_um/modelo_background/imagens/lente_preta.png);
    background-repeat: repeat;
    margin: 0%;
    height: 120px;
    width: 100%;
}
#topo h1{
    color: #ffffff;
    margin:0px;
    text-align: center;
    font-size: 50px;
}
#menu{
    color: #ffffff;
    text-align: center;
}
#corpo{
    height: 900px;
    width: 80%;
    background: url("./modelo_background/imagens/rodape.png")#ffffff repeat-x bottom;
    margin-left: 10%;
    margin-right: 10%;
}
.destaque{
    width: 78%;
    margin-top: 1%;
    margin-left: 1%;
    height: 200px;
    background-color: #ff00ff;
    float: left;
}
.destaque h2{
    margin: 0px;
    font-size: 30px;
    color: #4d6501;
}
.destaque p{
    margin-left: 1%;
    font-size: 12px;
    color: #785f07;
}
.propaganda{
    width: 19%;
    margin-top: 1%;
    margin-bottom:1% ;
    margin-right:1% ;
    height: 200px;
    float: right;
    background-color: #00ffff;
}
.conteudo{
    width:  98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    background-color: #ffff00;
    clear: both;
}